@import url("https://fonts.googleapis.com/css?family=Alfa+Slab+One");
* {
  margin: 0;
  padding: 0; }

*,
*:before,
*:after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent; }

em {
  font-weight: bold; }

.LockUp {
  background-color: #EBE6E0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100vh;
  position: relative; }
  .LockUp h1 {
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: 20px 0 50px 0;
    font-size: 11vw;
    color: #726d5d; }
  .LockUp p {
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    font-size: 15px;
    color: #726d5d;
    text-align: center;
    padding: 0 20px; }
  @media (min-width: 991px) {
    .LockUp {
      background-color: #f4efe7;
      background-image: url(lockup.png);
      background-size: cover;
      justify-content: center; } }

.Container {
  background-color: #f4efe7;
  width: 100%;
  padding: 0 10%; }
  .Container--light {
    background-color: #fff; }

.MapLink {
  width: 350px;
  background-image: url(/static/media/map.eedfc9bf.jpg);
  background-size: cover;
  padding-bottom: 23%;
  display: block; }
