@import url("https://fonts.googleapis.com/css?family=Alfa+Slab+One");
* {
  margin: 0;
  padding: 0; }

*,
*:before,
*:after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent; }

em {
  font-weight: bold; }

@keyframes FadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 100%; } }

body {
  overflow-x: hidden; }

p {
  margin-bottom: 20px;
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  color: #726d5d;
  line-height: 18px; }

li {
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  color: #726d5d;
  line-height: 18px; }

h3 {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 19px;
  text-transform: uppercase;
  margin-bottom: 15px;
  letter-spacing: 1px;
  color: #726d5d; }

h4 {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 16px;
  margin-bottom: 5px;
  color: #726d5d; }

.invitationPage {
  background-color: #f7f7f7; }

.mobileMenu {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; }

.mobileMenu__Button {
  width: 26px;
  height: 19px;
  display: inline-block;
  position: absolute;
  z-index: 1000;
  border: none;
  top: 29px;
  right: 20px;
  cursor: pointer;
  background-color: transparent;
  outline: none; }
  .mobileMenu__Button span {
    background-color: #fff;
    width: 26px;
    height: 3px;
    display: inline-block;
    border: none;
    position: relative;
    top: 8px; }
    .mobileMenu__Button span:after, .mobileMenu__Button span:before {
      content: "";
      background-color: #fff;
      width: 26px;
      height: 3px;
      display: inline-block;
      position: relative; }
    .mobileMenu__Button span:before {
      top: -15px; }
    .mobileMenu__Button span:after {
      bottom: 14px; }

.mobileMenu__items {
  position: absolute;
  top: 26px;
  right: -104px;
  width: auto;
  z-index: 1000;
  opacity: 0;
  visibility: hidden; }
  .mobileMenu__items a {
    display: block;
    margin: 13px 0px;
    color: #726d5d;
    text-transform: uppercase;
    text-decoration: none; }

.mobileMenu__open {
  position: relative;
  left: -178px; }
  .mobileMenu__open .mobileMenu__items {
    opacity: 1;
    visibility: visible; }

.Invitation__LockUp {
  background-color: #edeae4;
  width: 100%;
  -webkit-animation: FadeIn .25s ease-in-out;
  animation: FadeIn .25s ease-in-out;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  background-image: url(bg.jpg);
  background-size: 320%;
  background-position: -241% 0px;
  padding-bottom: 18%; }
  .Invitation__LockUp__Content {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    max-width: 1024px;
    margin: auto; }
  .Invitation__LockUp h1 {
    font-family: 'Alfa Slab One';
    font-weight: 700;
    margin: 85px 0 13px 0;
    font-size: 8vw;
    color: #726d5d;
    background-image: url(lockup.png);
    text-indent: -9999px;
    background-size: 100%;
    background-repeat: no-repeat;
    width: calc(100% - 40px);
    padding-bottom: 6%; }
    @media (min-width: 1024px) {
      .Invitation__LockUp h1 {
        font-size: 50px;
        margin: 50px 0; } }
  .Invitation__LockUp h2 {
    font-family: 'Raleway', sans-serif;
    color: #fff;
    font-size: 54px;
    letter-spacing: 8px; }
    @media (min-width: 1024px) {
      .Invitation__LockUp h2 {
        font-size: 100px; } }
  .Invitation__LockUp p {
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    font-size: 15px;
    color: #726d5d;
    text-align: center;
    padding: 0 20px;
    margin: 30px 0;
    max-width: 670px; }
    .Invitation__LockUp p a {
      color: inherit;
      white-space: nowrap; }
    @media (min-width: 1024px) {
      .Invitation__LockUp p {
        font-size: 20px; } }
  .Invitation__LockUp .word {
    margin-right: 2vw; }
    .Invitation__LockUp .word:last-child {
      margin-right: 0px; }
    @media (min-width: 1024px) {
      .Invitation__LockUp .word {
        margin-right: 15px; } }

.AboutUs .Button {
  margin: 20px 10%;
  border-radius: 4px;
  background-color: #f75947; }
  .AboutUs .Button:hover {
    background-color: #eb165e; }

.SectionWhite, .SectionDark {
  transform: translateY(-63px);
  padding: 20px 20px; }

.SectionDark {
  background-color: #f5f2eb; }

.Block {
  display: inline-block;
  width: 50%;
  padding-right: 10px; }

.FormContainer {
  width: 90%;
  margin: 0 auto 30px auto;
  padding: 0 20px;
  max-width: 500px; }
  @media (min-width: 1024px) {
    .FormContainer {
      width: auto;
      max-width: none; } }

.Container {
  background-color: #f4efe7;
  width: 100%;
  padding: 0 10%; }
  .Container--light {
    background-color: #fff; }

.MapLink {
  width: 350px;
  background-image: url(/static/media/map.eedfc9bf.jpg);
  background-size: cover;
  padding-bottom: 23%;
  display: block; }

.MobileRVSPForm {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2000;
  height: 100vh;
  background-color: #f4efe7; }

.FAQ li {
  font-weight: bold;
  color: #726d5d; }

.FAQ span {
  font-weight: normal;
  display: block;
  padding: 10px 0; }

.ImageBlock {
  display: flex; }

.ImageContainer {
  overflow: hidden;
  height: 125px; }

.ImageContainer img {
  width: 164%;
  position: relative;
  left: -48px; }

form {
  width: 100%; }
  @media (min-width: 1024px) {
    form {
      max-width: 333.33px; }
      form .first_name, form .last_name {
        width: 48%; }
      form .first_name {
        float: left;
        margin-right: 2%; }
      form .last_name {
        float: right;
        margin-left: 2%; } }
  form input, form textarea, form select {
    display: block;
    width: 100%; }
    form input:required, form textarea:required, form select:required {
      box-shadow: none; }
  form label {
    display: block;
    margin: 0px; }
  form label > span {
    float: left;
    width: 20%;
    text-align: right;
    padding-right: 10px;
    margin-top: 10px;
    color: #888; }
  form textarea {
    padding: 10px;
    height: 200px;
    line-height: 24px; }
  form textarea.active {
    margin-bottom: 0; }
  form input[type="submit"] {
    font-size: 15px;
    background-color: #eb165e;
    color: #fff;
    display: inline-block;
    width: 100%;
    padding: 12px 36px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    letter-spacing: 2px;
    text-transform: uppercase;
    -webkit-transition: background-color 0.15s ease;
    transition: background-color 0.15s ease;
    border: none;
    position: relative;
    z-index: 2; }
    form input[type="submit"]:hover {
      background-color: #f45a48; }
    @media (min-width: 1024px) {
      form input[type="submit"] {
        font-size: 16px;
        display: inline-block;
        width: 100%; } }

.required-message, .error-message {
  color: #c43b1d;
  display: none;
  font-size: 13px; }

.required ~ .required-message, .error ~ .error-message {
  display: block; }

p.success_message {
  visibility: hidden;
  opacity: 0;
  -ms-transform: translateY(50px);
  -webkit-transform: translateY(50px);
  transform: translateY(50px);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  height: 0;
  margin: 0 !important;
  padding: 0 !important;
  overflow: hidden; }
  p.success_message span {
    text-decoration: underline; }
  p.success_message--reload {
    margin: 0; }

.submitted .ss-form-question, .submitted #ss-submit {
  display: none; }

.submitted .success_message {
  opacity: 1;
  visibility: visible;
  -ms-transform: translateY(20px);
  -webkit-transform: translateY(20px);
  transform: translateY(20px);
  height: auto; }

.Button {
  font-size: 15px;
  background-color: #eb165e;
  color: #fff;
  display: inline-block;
  width: 80%;
  padding: 12px 36px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  letter-spacing: 2px;
  text-transform: uppercase;
  -webkit-transition: background-color 0.15s ease;
  -o-transition: background-color 0.15s ease;
  transition: background-color 0.15s ease;
  border: none;
  position: relative;
  z-index: 2; }
