@import '../../settings/reset';
@import '../../settings/mixins';

@charset "UTF-8";

$magenta: #eb165e;
$orange: #f45a48;

$brown: #f4efe7;
$slate: #726d5d;
$tan: #f5f2eb;
$offwhite: #f7f7f7;

$mainBackground: $brown;
$darkBackground: $tan;
$copyColor: $slate;
$button_color:  $magenta;

$offset: 127px;
$desktopOffset: 0;
$menuTransitionTime: .15s;

$hover: $orange;

@import url('https://fonts.googleapis.com/css?family=Alfa+Slab+One');


@keyframes FadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 100%;
	}
}

body {
	overflow-x: hidden;
	background-color: #f7f7f7;
	-webkit-font-smoothing: antialiased;
}

p {
	margin-bottom: 20px;
	font-family: 'Raleway', sans-serif;
	font-size: 16px;
	color: $copyColor;
	line-height: 21px;
}

li {
	font-family: 'Raleway', sans-serif;
	font-size: 16px;
	color: $copyColor;
	line-height: 18px;
}

h3 {
	font-family: 'Raleway', sans-serif;
	font-weight: 700;
	font-size: 21px;
	text-transform: uppercase;
	margin-bottom: 20px;
	letter-spacing: 1px;
	color: #726d5d;

	@include breakpoint(med) {
		font-size: 30px;
		margin-bottom: 30px;
	}
}

h4 {
	font-family: 'Raleway', sans-serif;
	font-weight: 700;
	font-size: 16px;
	margin-bottom: 5px;
	color: $copyColor;
}

a {
	color: $copyColor;
}

.nobreak {
	white-space: nowrap;
}

.contentContainer {
	transition: transform $menuTransitionTime ease-in-out;

	@include breakpoint(med) {
		transform: translateX(0px) !important;
		transition: none !important;
	}
}

.invitationPage {
	background-color: $offwhite;
}

.SectionInner {
	max-width: 1200px;
	margin: auto;
}

.MobileMenu {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
}

.MobileMenu__Button {
	width: 26px;
	height: 19px;
	display: inline-block;
	position: absolute;
	z-index: 1000;
	border: none;
	top: 29px;
	right: 20px;
	cursor: pointer;
	background-color: transparent;
	outline: none;

	span {
		background-color: #fff;
		width: 26px;
		height: 3px;
		display: inline-block;
		border: none;
		position: relative;
		top: 8px;

		&:after, &:before {
			content: "";
			background-color: #fff;
			width: 26px;
			height: 3px;
			display: inline-block;
			position: relative;
		}

		&:before {
			top: -15px;
		}

		&:after {
			bottom: 14px;
		}
	}
}

.MobileMenu__items {
	position: absolute;
	top: 26px;
	right: 50px;
	width: auto;
	z-index: 0;
	transition: opacity $menuTransitionTime ease-in-out;

	a {
		display: block;
		margin: 13px 0px;
		color: $copyColor;
		text-transform: uppercase;
		text-decoration: none;
	}
}

.MobileMenu__open {
	position: relative;
	transform: translateX(-178px);
}

.Menu__items {
	width: 80%;
	display: flex;
	justify-content: space-between;
	margin-top: 45px;

	a {
		text-decoration: none;
		font-size: 20px;
		text-transform: uppercase;
	}
}

.Invitation__LockUp {
	background-color: #edeae4;
	width: 100%;
	-webkit-animation: FadeIn .25s ease-in-out;
	animation: FadeIn .25s ease-in-out;
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
	background-image: url(bg.jpg);
	background-size: 320%;
  background-position: -241% 0px;
  padding-bottom: 36%;
	margin: auto;

	&__Content {
		display: flex;
		flex-direction: column;
		align-items: center;
		position: relative;
		max-width: 1024px;
		margin: auto;
	}

	.LockUp__Title {
		width: 80%;
		margin: auto;
		max-width: 900px;
		margin: 20% 0 13px 0;

		h1 {
			font-family: 'Alfa Slab One';
			font-weight: 700;
			font-size:8vw;
			color: $copyColor;
			background-image: url(lockup.png);
			text-indent: -9999px;
	    background-size: 100%;
			background-position: center;
	    background-repeat: no-repeat;
	    padding-bottom: 6%;
		}
	}

	h2 {
		font-family: 'Raleway', sans-serif;
		color: #fff;
		font-size: 54px;
    letter-spacing: 8px;

		@include breakpoint(med) {
			font-size: 92px;
			letter-spacing: 4px;
			font-weight: 500;
		}
	}

	p {
		font-family: 'Raleway', sans-serif;
		font-weight: 300;
		font-size: 15px;
		color: $copyColor;
		text-align: center;
		padding: 0 20px;
		margin: 30px 0;
		max-width: 670px;

		a {
			color: inherit;
			white-space: nowrap;
		}

		@include breakpoint(med) {
			font-size: 20px;
		}

	}

	.word {
		margin-right: 2vw;

		&:last-child {
			margin-right: 0px;
		}

		@include breakpoint(med) {
			margin-right: 15px;
		}
	}

	@include breakpoint(med) {
		height: 825px;
		padding-bottom: 0;
		background-size: 3550px;
    background-repeat: no-repeat;
    background-position: top center;
	}
}

.overflowImage {
	@include breakpoint(med) {
		position: relative;
		z-index: 10000;
		overflow: visible;
		max-height: 370px;

		img {
			position: absolute;
			right: 0;
		}
	}
}

.AboutUs {
	.Button {
		background-color: #f75947;

		&:hover {
			background-color: $button_color;
		}
	}

	&__Photo {
		transform: translateY(-80px);
	}

	@include breakpoint(med) {
		display: flex;
		position: relative;

		&__Copy {
			padding-right: 40px;
			transform: translateY(-35px);
		}

		p {
			max-width: 51%;
		}
	}

	@include breakpoint(lg) {
		p {
			max-width: 60%;
		}
	}
}

.DetailsContainer {
	display: flex;
	flex-direction: column;

	&__Copy {
		flex: 1;
		max-width: 300px;
		padding-right: 40px;

		@include breakpoint(med) {
			margin-right: 40px;
		}
	}

	@include breakpoint(med) {
		flex-direction: row;
	}
}

.LocationContainer {
	@include breakpoint(med) {
		display: flex;
		justify-content: space-between;
		flex-direction: row-reverse;
		align-items: center;

		 &__Copy {
			 padding-left: 25px;
		 }

		 iframe {
			 padding-right: 25px;
		 }
	}
}

.FAQs {
	li {
		margin-bottom: 20px;
		color: $copyColor;
	}

	h4 {
		font-weight: 700;
		margin-bottom: 15px;
	}

	span {
		font-weight: normal;
		display: block;
		padding-bottom: 10px;
	}

	@include breakpoint(med) {
		columns: 2;
    column-gap: 60px;

		li {
			break-inside: avoid;
		}
	}
}

.SectionWhite, .SectionDark {
	transform: translateY(-$offset);
	padding: 20px 20px;

	@include breakpoint(med) {
		padding: 60px 60px;
		transform: translateY(-$desktopOffset);
	}
}
.SectionDark {
	background-color: $darkBackground;

	&--darker {
		background-color: #edeae4;
	}

	&--darkest {
		background-color: #9c998d;

		h3, p {
			color: #fff;
		}
	}
}

.Block {
    display: inline-block;
    width: 50%;
		padding-right: 10px;
}

.FormContainer {
	width: 90%;
	margin: 0 auto 30px auto;
	padding: 0 20px;
	max-width: 500px;

	@include breakpoint(med) {
		width: auto;
		max-width: none;
	}
}

.Container {
	background-color: $mainBackground;
	width: 100%;
	padding: 0 10%;

	&--light {
		background-color: #fff;
	}
}

.MapLink {
	width: 350px;
	background-image: url(/static/media/map.eedfc9bf.jpg);
	background-size: cover;
	padding-bottom: 23%;
	display: block;
}

.Exit {
	display: none;
}

.MobileRSVPForm {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	padding: 20px;
	z-index: 2000;
	height: 100vh;
	background-color: $mainBackground;
	overflow-y: scroll;

	h1 {
		font-family: 'Raleway', sans-serif;
		font-weight: 700;
		font-size: 25px;
		text-transform: uppercase;
		margin-bottom: 20px;
		letter-spacing: 1px;
		color: #726d5d;
	}

	.Exit {
    border: none;
    position: absolute;
    top: 20px;
    right: 20px;
		cursor: pointer;
		height: 37px;
		width: 37px;
		outline: none;
		display: block;
		background-image: url(close-icon.png);
		background-size: 26px;
		background-color: transparent;
		background-repeat: no-repeat;
		background-position: top right;
	}
}

.GoogleMap {
	width: 100%;
	height: 360px;
}

.Registry {
	.Button {
		background-color: #0baf84;
		display: block;

		&:hover {
			background-color: #00aeb5;
		}

		@include breakpoint (med) {
			max-width: 300px;
		}
	}

	&__Content {
		flex-direction: column-reverse;
		display: flex;

		img {
			margin: 0 auto 40px auto;
			height: 200px;
			width: auto;
		}

		@include breakpoint(med) {
			flex-direction: row;

			p, .ImageContainer {
				flex: 1;
				padding-right: 80px;
			}

			img {
				margin-bottom: 0;
				height: auto;
			}

			.Button {
				margin: 30px 0 0 0;
			}
		}
	}

	.ImageContainer {
    overflow: hidden;
		height: auto;

		@include breakpoint(med) {
			height: auto;
		}
	}

	.ImageContainer img {
    position: relative;

		@include breakpoint(med) {
			width: 100%;
			left: 0;
		}
	}
}

.Footer {
	background-color: #9c998d;
	position: relative;
	h3, p {
		color: #fff;
	}

	&:after {
		content: '';
    display: block;
    position: absolute;
    top: 134px;
    left: 0px;
    width: 100%;
    height: 157px;
    background-color: #9c998d;
	}

	p {
		max-width: 600px;
	}


	@include breakpoint(med) {
		p {
			max-width: 70%;
		}

		&:after {
			content: none;
		}
	}
}

form {
  width: 100%;

	.FlexContainer {
		display: flex;
		justify-content: space-between;

		&--alignLeft {
			justify-content: flex-start;
		}
	}

	.RadioGroup {
		display: flex;
	}

	.left {
		width: 100%;
	}

  @include breakpoint(med) {
		max-width: 1200px;

    .first_name, .last_name {
      width: 48%;
    }

    .first_name {
      float: left;
      margin-right: 2%;
    }

    .last_name {
      float: right;
      margin-left: 2%;
    }

		.left {
			display: inline-block;
			width: 50%;
			padding-right: 20px;
		}
		.right {
			display: inline-block;
			width: 50%;
		}
  }

	// input:not([type='submit']), textarea, select {
	//   border: 1px solid #DADADA;
	//   color: #888;
	//   margin-bottom: 25px;
	//   margin-right: 6px;
	//   margin-top: 2px;
	//   outline: 0 none;
	//   padding: 10px 5px;
	//   font-size: 12px;
	//   line-height: 22px;
	//   box-shadow: inset 0px 1px 4px #ECECEC;
	//   -moz-box-shadow: inset 0px 1px 4px #ECECEC;
	//   -webkit-box-shadow: inset 0px 1px 4px #ECECEC;
	//   @include font-size(16px);
	//   letter-spacing: 1px;
	// }

	input, textarea, select {
	  display: block;
	  width: 100%;

		&:required {
			box-shadow:none;
		}
	}

	label {
	  display: block;
	  margin: 0px;
	}

	label > span {
	  float: left;
	  width: 20%;
	  text-align: right;
	  padding-right: 10px;
	  margin-top: 10px;
	  color: #888;
	}

	textarea {
	  padding: 10px;
	  height: 200px;
	  line-height: 24px;
		color: $copyColor;
		font-family: 'Raleway', sans-serif;
		font-size: 16px;

		@include breakpoint(med) {
				width: 80%;
		}
	}

	textarea.active {
	  margin-bottom: 0;
	}


	label {
		color: $copyColor;
	}

	input[type=radio] {
    width: auto;
    height: auto;
    padding: 10px;
		background-size: 80%;
		background-repeat: no-repeat;
		background-position: center;
	}
	.radio--yes:checked  {
		background-image: url(checkmark-green.png);
	}
	.radio--no:checked  {
		background-image: url(checkmark-red.png);
	}

	.radioLabel {
		line-height: 22px;
		padding-left: 14px;
	}

	.checkbox {
		width: 22px;
		background-size: 80%;
		background-repeat: no-repeat;
		background-position: center;

		&:checked {
			background-image: url(checkmark-green.png);
		}
	}

	.selectContainer {
		label {
		    margin-bottom: 20px;
		}

		select {
			max-width: 150px;
		}
	}



	// .ss-choice-item-control {
  //   width: 20px;
  //   height: 20px;
  //   border-radius: 0;
	//
	// 	input {
	// 		border: none;
	// 	}
	// }

}

.isHidden {
	display: none;
}

.submit_container {
	margin: 30px 0px;

	@include breakpoint(med) {
			max-width: 300px;
	}
}

input[type="submit"] {
		font-size: 15px;
		background-color: $button_color;
		color: #fff;
		display: inline-block;
		width: 100%;
		padding: 12px 36px;
		text-align: center;
		text-decoration: none;
		cursor: pointer;
		letter-spacing: 2px;
		text-transform: uppercase;
		@include transition(background-color 0.15s ease);
		border: none;
		position: relative;
		z-index: 2;
		margin: 25px 0 0 0;

		&:hover {
			background-color: $hover;
		}

		@include breakpoint (med) {
			font-size: 16px;
			display: inline-block;
			width: 100%;
			margin: 0;
		}
}



.required-message, .error-message { color: #c43b1d; display: none; font-size: 13px; } .required~.required-message, .error~.error-message { display: block; }

p.success_message {
  visibility: hidden;
  opacity: 0;
  @include transform(translateY(50px));
  @include transition(all .5s ease-in-out);
  height: 0;
	margin: 0 !important;
	padding: 0 !important;
	overflow: hidden;

	span {
		text-decoration: underline;
	}

	&--reload {
		margin: 0;
	}
}

.submitted {
  .ss-form-question, #ss-submit {
    display: none;
  }
  .success_message {
    opacity: 1;
    visibility: visible;
    @include transform(translateY(20px));
    height: auto;
  }
}

.Button {
	font-size: 17px;
	background-color: #eb165e;
	color: #fff;
	display: inline-block;
	width: 80%;
	padding: 12px 36px;
	margin: 20px 10%;
	border-radius: 4px;
	text-align: center;
	text-decoration: none;
	cursor: pointer;
	letter-spacing: 2px;
	text-transform: uppercase;
	-webkit-transition: background-color 0.15s ease;
	-o-transition: background-color 0.15s ease;
	transition: background-color 0.15s ease;
	border: none;
	position: relative;
	z-index: 2;
	font-weight: 700;
}

.react-add-to-calendar {
    margin-top: 20px;
}

.react-add-to-calendar__dropdown li {
    margin: 10px 0;
}


// Default Variables

// Slick icon entity codes outputs the following
// "\2190" outputs ascii character "←"
// "\2192" outputs ascii character "→"
// "\2022" outputs ascii character "•"

/* Slider */

.slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}
.slick-list {
    position: relative;
    overflow: hidden;
    display: block;
    margin: 0;
    padding: 0;

    &:focus {
        outline: none;
    }

    &.dragging {
        cursor: pointer;
        cursor: hand;
    }
}
.slick-slider .slick-track,
.slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.slick-track {
    position: relative;
    left: 0;
    top: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;

    &:before,
    &:after {
        content: "";
        display: table;
    }

    &:after {
        clear: both;
    }

    .slick-loading & {
        visibility: hidden;
    }
}
.slick-slide {
    float: left;
    height: 100%;
    min-height: 1px;
    [dir="rtl"] & {
        float: right;
    }
    img {
        display: block;
    }
    &.slick-loading img {
        display: none;
    }

    display: none;

    &.dragging img {
        pointer-events: none;
    }

    .slick-initialized & {
        display: block;
    }

    .slick-loading & {
        visibility: hidden;
    }

    .slick-vertical & {
        display: block;
        height: auto;
        border: 1px solid transparent;
    }
}
.slick-arrow.slick-hidden {
    display: none;
}

$slick-font-path: "./fonts/" !default;
$slick-font-family: "slick" !default;
$slick-loader-path: "./" !default;
$slick-arrow-color: white !default;
$slick-dot-color: black !default;
$slick-dot-color-active: $slick-dot-color !default;
$slick-prev-character: "\2190" !default;
$slick-next-character: "\2192" !default;
$slick-dot-character: "\2022" !default;
$slick-dot-size: 6px !default;
$slick-opacity-default: 0.75 !default;
$slick-opacity-on-hover: 1 !default;
$slick-opacity-not-active: 0.25 !default;

@function slick-image-url($url) {
    @if function-exists(image-url) {
        @return image-url($url);
    }
    @else {
        @return url($slick-loader-path + $url);
    }
}

@function slick-font-url($url) {
    @if function-exists(font-url) {
        @return font-url($url);
    }
    @else {
        @return url($slick-font-path + $url);
    }
}

/* Slider */

.slick-list {
    .slick-loading & {
        background: #fff slick-image-url("ajax-loader.gif") center center no-repeat;
    }
}

/* Icons */
@if $slick-font-family == "slick" {
    @font-face {
        font-family: "slick";
        src: "fonts/slick.eot";
        src: "fonts/slick.eot?#iefix" format("embedded-opentype"), "fonts/slick.woff" format("woff"), "fonts/slick.ttf" format("truetype"), "fonts/slick.svg#slick" format("svg");
        font-weight: normal;
        font-style: normal;
    }
}

/* Arrows */

.slick-prev,
.slick-next {
    position: absolute;
    display: block;
    height: 20px;
    width: 20px;
    line-height: 0px;
    font-size: 0px;
    cursor: pointer;
    background: transparent;
    color: transparent;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    padding: 0;
    border: none;
    outline: none;
    &:hover, &:focus {
        outline: none;
        background: transparent;
        color: transparent;
        &:before {
            opacity: $slick-opacity-on-hover;
        }
    }
    &.slick-disabled:before {
        opacity: $slick-opacity-not-active;
    }
    &:before {
        font-family: $slick-font-family;
        font-size: 20px;
        line-height: 1;
        color: $slick-arrow-color;
        opacity: $slick-opacity-default;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
}

.slick-prev {
    left: -25px;
    [dir="rtl"] & {
        left: auto;
        right: -25px;
    }
    &:before {
        content: $slick-prev-character;
        [dir="rtl"] & {
            content: $slick-next-character;
        }
    }
}

.slick-next {
    right: -25px;
    [dir="rtl"] & {
        left: -25px;
        right: auto;
    }
    &:before {
        content: $slick-next-character;
        [dir="rtl"] & {
            content: $slick-prev-character;
        }
    }
}

/* Dots */

.slick-dotted.slick-slider {
    margin-bottom: 30px;
}

.slick-dots {
    position: absolute;
    bottom: -25px;
    list-style: none;
    display: block;
    text-align: center;
    padding: 0;
    margin: 0;
    width: 100%;
    li {
        position: relative;
        display: inline-block;
        height: 20px;
        width: 20px;
        margin: 0 5px;
        padding: 0;
        cursor: pointer;
        button {
            border: 0;
            background: transparent;
            display: block;
            height: 20px;
            width: 20px;
            outline: none;
            line-height: 0px;
            font-size: 0px;
            color: transparent;
            padding: 5px;
            cursor: pointer;
            &:hover, &:focus {
                outline: none;
                &:before {
                    opacity: $slick-opacity-on-hover;
                }
            }
            &:before {
                position: absolute;
                top: 0;
                left: 0;
                content: $slick-dot-character;
                width: 20px;
                height: 20px;
                font-family: $slick-font-family;
                font-size: $slick-dot-size;
                line-height: 20px;
                text-align: center;
                color: $slick-dot-color;
                opacity: $slick-opacity-not-active;
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
            }
        }
        &.slick-active button:before {
            color: $slick-dot-color-active;
            opacity: $slick-opacity-default;
        }
    }
}
