@mixin media($port) {
  $break-point-sm: 768px;
  $break-point-md: 991px;
  $break-point-lg: 1440px;
  $break-point-xl: 1440px;

  @if $port == sm {
    @media only screen and (min-width: $break-point-sm) { @content; }
  }
  @else if $port == md {
    @media only screen and (min-width: $break-point-md) { @content; }
  }
  @else if $port == lg {
    @media only screen and (min-width: $break-point-lg) { @content; }
  }
  @else if $port == xl {
    @media only screen and (min-width: $break-point-xl) { @content; }
  }
}


@mixin breakpoint($break) {
  $xs: 375px;
  $sm: 768px;
  $med: 991px; //incorrect should be 1024;
  $lg: 1440px;

	@if $break == sm {
		@media (min-width: $sm) {
			@content;
		}
	}

	@else if $break == med {
		@media (min-width: $med) {
			@content;
		}
	}

	@else if $break == lg {
		@media (min-width: $lg) {
			@content;
		}
	}

	@else if $break == xl {
		@media (min-width: $xl) {
			@content;
		}
	}
}


@function calculateRem($size) {
    $remSize: $size / 10px;
    @return $remSize * 1rem;
}

@mixin font-size($size) {
    font-size: $size;
    font-size: calculateRem($size);
}

@mixin transform ($transforms) {
    -ms-transform: $transforms;
    -webkit-transform: $transforms;
    transform: $transforms;
}

@mixin filter ($filters) {
    -webkit-filter: $filters;
    -moz-filter: $filters;
    -o-filter: $filters;
    -ms-filter: $filters;
    filter: $filters;
}

@mixin transition ($value...) {
    -webkit-transition: $value;
    transition: $value;
}
